*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(37, 94, 233);
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.link a{
    text-decoration: none;
    color: white;
    margin: 20px;
    font-size: 20px;
}

.login{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-radius: 40px;
    background-color: white;
}

.container{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    text-align: center;
    height: 550px;
}

.title{
    padding-top: 180px;
    color: white;
    font-size: 55px;
   }

 .paragraph{
    width: 800px;
    padding-top: 20px;
    margin: auto;
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
 }

 .login-two{
    background-color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-radius: 20px;
    margin: auto;
    display: inline-block;
 }

 .login-three{
    background-color: black;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-radius: 20px;
    margin: auto;
    display: inline-block;
 }

   .container-flex-two{
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 80px;
    padding-bottom: 40px;
 }


.title-two{ 
    font-size: 55px; 
    padding-top: 70px;
    } 

    .paragraph-two{
       margin-top: 20px;
       font-size: 20px;
    }

.container-three{
    background-color: lightgray;
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 200px;
    padding-bottom: 40px;
    }
   

    .container-flex-three{
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 200px;
    padding-bottom: 40px;
    }

.item-two{
    margin-top: 40px;
}
  
    .container-two{
        background-color: lightgray;
        text-align: center;
        padding-left: 200px;
        padding-right: 200px;
        margin-top: 200px;
        padding-bottom: 40px;
    }
    
    .item-four{
        width: 1200px;
    }
    
    .title-three{
        font-size: 35px;
        margin-bottom: 40px;
    }

    .login-four{
    background-color:rgb(114, 137, 218);
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-radius: 20px;
    margin: auto;
    display: inline-block;
    color: white;
    }

.container-flex-four{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 80px;
    padding-bottom: 30px;
    background-color: rgb(35, 39, 42);
    
    ;
}

.title-four{
    color: rgb(111, 126, 188);
    font-size: 40px;
    
}

.mini-container-flex-four{
    height: 100%;
    
}

.mini-container-flex-five{
    background-color: lightseagreen;
    height: 100%;
    display: flex;
    flex-grow: 0.165;
    border: 2px dotted white;
}

footer{
    background-color: black;
    height: 80px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.container-flex-five{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: aqua;
}

.logo-two{
    background-color: hotpink;
    border: 2px dotted black;
    padding: 3px;
}



